VITE_FIREBASE_API_KEY=your_api_key
VITE_FIREBASE_AUTH_DOMAIN=votewiseai-fe973.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=votewiseai-fe973
VITE_FIREBASE_STORAGE_BUCKET=votewiseai-fe973.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
VITE_FIREBASE_APP_ID=your_app_id
